<div>
  <p>Employees > Projects > Index</p>
  <hr>
</div>


<% @projects.each do |project| %>
  <p>
    Commercial name: <%= project.commercial_name %>
    <%= link_to "Show", employees_project_path(project.id) %>
  </p>
<% end %>

<%= link_to "New Project", new_employees_project_path %>
