<p>Employees::Projects::Index</p>

<% @projects.each do |project| %>
  <p>Commercial name: <%= project.commercial_name %></p>
  <%= link_to "Show", employees_project_path(project.id) %>
<% end %>

<%= link_to "New Project", new_employees_project_path %>
