.sitevisits-space {
  padding: 0px 0px 40px 0px;
  margin: 24px 0px 0px 0px;
}

.sitevisits-title {
  padding: 10px 0px 20px 0px;
  h3 {
  font: "Open Sans", "Helvetica", "sans-serif";
  }
}

.map-position {
   position:absolute;
   right:0px;
   top  :70px;
   width: 66%;
   height: calc(100vh - 70px);
}

.containter-left {
  position:absolute;
  left: 10px;
  top: 70px;
  width: 100px;
}
