<div class="container">

  <div class="documents-space">

    <div class="document-title">

      <div class="row">
        <% @handovers.each do |handover| %>

        <div class="col-md-6">

          <div class="thumbnail">
            <img class="img-rounded" src="http://unsplash.it/400/400">
            <div class="caption text-left">
              <h1><%= handover.title %></h1>
              <p><%= handover.description %></p>
              <p><strong><%= handover.date.to_formatted_s(:rfc822)%></strong></p>
                <%= link_to "Details", edit_customers_unit_handover_path(@unit.id, handover), class: "btn btn-normal", role: "button", remote: true %>
              </p>
            </div>
          </div>

        </div>

        <% end %>

      </div>

    </div>

  </div>

<!-- Modal -->
<div class="modal fade" id="handoverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
