<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases > Index
    <hr>
  </p>
  <hr>
</div>

<div class="container">

  <div class="row">
    <h3>
      Phases <%= link_to "New Phase", new_employees_project_phase_path, class: "btn btn-warning"%>
    </h3>
      <% if @phases.nil? || @phases.empty? %>
        <p>There is no phase for this project.</p>
      <% else %>
        <% @phases.each do |phase| %>
          <div class="col-xs-12 col-sm-4">
          <%  %>
            <div class="thumbnail">
              <div class="caption text-center">
                <h3>Phase number <%= phase.phase_number %></h3>
                <% save_phase(phase) %>
                <p><%= link_to 'Lots index', employees_project_lots_path(@project.id), class: "btn btn-normal"%></p>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  <% end %>



</div>

