.card-customer-dashboard {
  margin-top: 20px;
}


.bottom-margin {
  margin-bottom: 25px;
}

.progress {
  width: 80%;
}

.progress-box {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.distance {
  margin-top: 20px;
  padding-top: 20px;
}

.card-footer-bottom {
  position: absolute;
  bottom: 0;
}

.card-height-setter {
  margin-top: 200px;
  width: 100%;
}
