.card-customer-dashboard {
  margin-top: 20px;
}


.bottom-margin {
  margin-bottom: 25px;
}

.progress {
  width: 80%;
}

.progress-box {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.distance {
  margin-top: 20px;
  padding-top: 20px;
}

.card-footer-bottom {
  position: absolute;
  bottom: 0;
}

.card-height-setter {
  margin-top: 200px;
  width: 100%;
}

.container-big-customer-dashboard {
  margin: 0px 200px;
}

.container-small-customer-dashboard {
}

.container-photo {
  margin: 20px 0px;
}

.wrapper-white {
  background-color: $deepspacesparkle;
  padding-top: 80px;
  padding-bottom: 70px;
  margin-top: 30px;
  border-radius: 4px;
}

.card-carousel {
  overflow: hidden;

}

.card-base-customer-dashboard {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  background-size: cover !important;
  padding: 0px;
  margin: 0px;
}
