.card-customer-dashboard {
  margin-top: 20px;
}


.bottom-margin {
  margin-bottom: 25px;
}

.progress {
  width: 80%;
}

.progress-box {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.distance {
  margin-top: 20px;
  padding-top: 20px;
}

.card-footer-bottom {
  position: absolute;
  bottom: 0;
}

.card-height-setter {
  margin-top: 200px;
  width: 100%;
}

.container-big-customer-dashboard {

}

.container-small-customer-dashboard {
}

.container-photo {
  margin: 20px 0px;
}





.card-base-customer-dashboard {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  background-size: cover !important;
  padding: 0px;
  margin: 0px;
}

.wrapper-white {
  background-color: lightgrey;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left:20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.left-column {


    & .left-column-color{
    background-color: $greenrevive;
    border-color: $greenrevive;
  }
}

.middle-column {

  & .middle-column-color {
    background-color:$orangerevive;
    border-color: $orangerevive;
  }
}

.right-column {


    & .right-column-color {
    background-color:$bluerevive;
    border-color: $bluerevive;
  }
}

#avatar-navbar-padding {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0px;
}
