<!-- first part of documents official -->


<div class="container">

  <div class="documents-space">

    <div class="document-title">

     <% @kindU.each do |unique| %>

     <div class="row">


      <h3><%= unique %></h3>
      <div class="row">
        <% @documents.each do |document| %>
        <% if document.kind == unique %>
        <div class="col-md-4">

          <a class="image" href="<%= cl_image_path(document.file,  resource_type: "raw") %>" target="_tab">
            <img src="http://unsplash.it/150/150">
            <%= document.title %>
            <%= document.description %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>







