/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.centerscreen {
  display: flex;
  align-items: center;
  height: calc(100vh - 70px);
}

.backgroundcolorwrapper {
  height: 100vh;
  animation: colorchange 30s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 30s; /* Chrome and Safari */
  animation-iteration-count:infinite;

  @keyframes colorchange
    {
      0%   {background: #CFDE00;}
      20%  {background: #ECC85C;}
      40%  {background: #F6A9CB;}
      65%  {background: #BBADCD;}
      80%  {background: #00B295;}
      100% {background: #CFDE00;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #CFDE00;}
      20%  {background: #ECC85C;}
      40%  {background: #F6A9CB;}
      65%  {background: #BBADCD;}
      80%  {background: #00B295;}
      100% {background: #CFDE00;}
    }
}

.scrollable-panel {
  overflow: auto;
  height: 387px;
}

.picture-dashboard {
  width: 175px;

  background-size: cover !important;
  color: white;

}

