<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">New Question</h3>
</div>
<div class="modal-body">
          <%= simple_form_for(@helpdesk_ticket, url: customers_unit_helpdesk_tickets_path(@unit, @helpdesk_ticket)) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
</div>

  <div class="modal-footer">
      <%= f.button :submit, 'Submit Question' %>
  </div>
<% end %>
