<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="card card-customer-dashboard" style="background-color: #CCCCCC;">
        <div class="card-category">
          Timeline
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard" style="background-color: #CCCCCC;">
        <div class="card-category">
          About your unit
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #CCCCCC;">
        <div class="card-category">
          ToDo
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #CCCCCC;">
        <div class="card-category">
          News
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #000000;">
        <div class="card-category">
          <div class="card-category">
            Webcam
          </div>

        </div>
      </div>
    </div>
  </div>
