<div class="container">
  <div class="distance">
    <div class="container-small-customer-dashboard">
      <!-- First Row -->

        <div class="row">
          <!-- Timeline col -->
          <div class="col-xs-12">
            <div class="well" style="height: 250px;">
              <ul class="timeline-hor" id="timeline-dashboard">
                <li class="li complete">
                  <div class="timestamp">
                    <span class="author">Abhi Sharma</span>
                    <span class="date">11/15/2014</span>
                  </div>
                  <div class="status">
                    <h4> Shift Created </h4>
                  </div>
                </li>
                <li class="li complete">
                  <div class="timestamp">
                    <span class="author">PAM Admin</span>
                    <span class="date">11/15/2014</span>
                  </div>
                  <div class="status">
                      <h4> Email Sent </h4>
                  </div>
                </li>
                <li class="li complete">
                  <div class="timestamp">
                    <span class="author">Aaron Rodgers</span>
                    <span class="date">11/15/2014</span>
                  </div>
                  <div class="status">
                    <h4> SIC Approval </h4>
                  </div>
                </li>
                <li class="li">
                  <div class="timestamp">
                    <span class="author">PAM Admin</span>
                    <span class="date">TBD</span>
                  </div>
                  <div class="status">
                    <h4> Shift Completed </h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END Timeline col -->
              <!-- END First Row -->

              <!-- Second Row -->
              <div class="row">

                <!-- Webcam col -->
                <div class="col-xs-12 col-sm-8">

                  <div class="well card-carousel" style="background-size: cover;">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item active img-responsive"><img src="https://c-site.eu/dashboard/public/images/Castelijm/29/"></div>
                        <div class="item img-responsive"><img src="https://c-site.eu/dashboard/public/images/Castelijm/28/"></div>
                        <div class="item img-responsive"><img src="https://c-site.eu/dashboard/public/images/Castelijm/30/"></div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Important info col -->
                <div class="col-xs-12 col-sm-4">
                  <div class="list-group">
                    <p class="list-group-item active">Important notifications</p>
                    <div class="scrollable-panel">
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item">Vestibulum at eros</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item">Vestibulum at eros</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- END Second Row -->


            <div class="wrapper-white">


                <!-- Third row -->
                <div class="row">

                  <div class="col-xs-12 col-sm-4">
                    <div class="list-group left-column">
                      <p class="list-group-item active left-column-color">Consulting hours</p>
                      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                      <a href="#" class="list-group-item">Vestibulum at eros</a>
                      <a href="#" class="list-group-item">Morbi leo risus</a>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="list-group middle-column">
                      <p class="list-group-item active middle-column-color">News</p>
                      <% @news.each do |news_item| %>
                      <a href='<%= link_to  customers_unit_news_index_path(@unit)%>' class="list-group-item"><%= news_item.title %></a>
                      <% end %>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="list-group right-column">
                      <p class="list-group-item active right-column-color">Information</p>
                      <% @informations.each do |information| %>
                      <a href='<%#= link_to  customers_unit_information_path(@unit)%>' class="list-group-item"><%= information.title %></a>
                      <% end %>
                    </div>
                  </div>

                </div>
                <!-- END Third row -->

            </div>


          </div>

        </div>

       </div>
